---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Links from "../components/Links.astro";
---

<Layout>
  <Nav />
  <Links />
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience client:load />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
